/* Your app custom styles here */
* {
    --color-one: #6a9665;
    --text-color: #202e21;
    --bg-color: #566c53;
    --color-four: #bbd9b5;
    --color-five: #8dad88;
    --color-six: #8da38e;
}

#information-border {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

#information {
    background-color: var(--color-four);
}

#information-h2 {
    margin-bottom: 0px;
    border: 2px solid black;
    border-radius: 5px;
}

#information-paragraph {
    margin-top: 0px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    /* text-align: justify;
    text-align-last: justify;
    -moz-text-align-last: justify;
    hyphens: auto; */
}

.informationgreen {
    background-color: var(--color-four);
}