/* Your app custom styles here */
* {
    --color-one: #6a9665;
    --text-color: #202e21;
    --bg-color: #566c53;
    --color-four: #bbd9b5;
    --color-five: #8dad88;
    --color-six: #8da38e;
}

#border {
    border: 2px solid black;
}

#h2bottomborder {
    border-bottom: 1px solid black;
}